.form{
	width: 700px;
	background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 0 0,
	radial-gradient(1.5em 6.28571em at -0.45em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 1.5em 5.5em,
	radial-gradient(2.3em 4.57143em at 2.99em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 55%, rgba(0, 0, 0, 0) 55%) 0 0, 
	radial-gradient(2.3em 4.57143em at -0.69em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 55%, rgba(0, 0, 0, 0) 55%) 2.3em 4em, 
	radial-gradient(3.5em 6.28571em at 4.55em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 0 0, 
	radial-gradient(3.5em 6.28571em at -1.05em, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0) 55%) 3.5em 5.5em, 
	radial-gradient(#0066ff, #000066);
	background-color: navy;
	background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
	background-repeat: repeat;
}